<div class="jumbotron">
    <h1>Team Stylish Weather</h1>
    <p class="lead">Find out what to wear for the current weather conditions.</p>
    <p><a href="~/stylish-weather/" class="btn btn-primary btn-large">Go to Site &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Weather API</h2>
        <p>A weather API is used to retrieve the current weather conditions.</p>
        <p><a class="btn btn-default" href="http://www.worldweatheronline.com/free-weather-feed.aspx">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Trade me API</h2>
        <p>TradeMe's API was used to retrieve some clothing items that are on sale.</p>
        <p><a class="btn btn-default" href="http://developer.trademe.co.nz/api-overview/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Smart clothing suggestions</h2>
        <p>Using the weather conditions retrieved from the weather API, it request clothing approite to the conditions.</p>
        <p><a class="btn btn-default" href="~/stylish-weather/">Vist site &raquo;</a></p>
    </div>
</div>
